#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/ {
	macros {
        ZMK_MACRO(ae_lowercase,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp A>;
        )
        ZMK_MACRO(ae_uppercase,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp LS(A)>;
        )
        ZMK_MACRO(oe_lowercase,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp O>;
        )
        ZMK_MACRO(oe_uppercase,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp LS(O)>;
        )
        ZMK_MACRO(ue_lowercase,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp U>;
        )
        ZMK_MACRO(ue_uppercase,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp LS(U)>;
        )
        ZMK_MACRO(eszett,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp RA(S)>;
        )
        ZMK_MACRO(eurosign,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings = <&kp RA(NUMBER_5)>;
        )
        ZMK_MACRO(apostrophe,
        wait-ms = <50>;
        tap-ms = <0>;
        bindings = <&kp APOS &kp SPACE>;
        )
        ZMK_MACRO(quotations,
        wait-ms = <50>;
        tap-ms = <0>;
        bindings = <&kp LS(APOS) &kp SPACE>;
        )
    };

	behaviors {
        ae_shift: ae_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "AE_SHIFT";
            #binding-cells = <0>;
            bindings = <&ae_lowercase>, <&ae_uppercase>;
            mods = <(MOD_LSFT)>;
        };
		ue_shift: ue_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "UE_SHIFT";
            #binding-cells = <0>;
            bindings = <&ue_lowercase>, <&ue_uppercase>;
            mods = <(MOD_LSFT)>;
        };
		oe_shift: oe_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "OE_SHIFT";
            #binding-cells = <0>;
            bindings = <&oe_lowercase>, <&oe_uppercase>;
            mods = <(MOD_LSFT)>;
        };
		quot_apos: quot_apos {
            compatible = "zmk,behavior-mod-morph";
            label = "QUOT_APOS";
            #binding-cells = <0>;
            bindings = <&apostrophe>, <&quotations>;
            mods = <(MOD_LSFT)>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
				// ------------------------------------------------------------------------------------------
				// | ESC  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP
				// | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   |
				// | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER
				// |  SHIFT    |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  | /   |   SHIFT | DEL
				// |  CTL  |  WIN  |  ALT  |            SPACE               | LAY1 | RALT |  MENU    |  CTRL
				// ------------------------------------------------------------------------------------------
			bindings = <

				&kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp  N8   &kp  N9 &kp  N0  &kp MINUS &kp EQUAL &kp BSPC
				&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp  I    &kp  O  &kp  P   &kp LBKT &kp RBKT  &kp BSLH
				&kp CAPS  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp  K    &kp  L  &kp SEMI &quot_apos         &kp RET
				&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH          &kp RSHFT &kp DEL
				&kp LCTRL &kp LGUI &kp LALT            &kp SPACE                            &mo 1  &kp RALT &kp C_MENU &kp RCTRL
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		layone {
				// ------------------------------------------------------------------------------------------
				// |  `  |  F1 |  F2 |  F3 |  F4 |  F5 |  F6 |  F7 |  F8 |  F9 | F10 | F11 | F12 |   BKSP
				// |      |     |     | EUR |    |    |     |     |     |     |     |  Ä   |  Ü  |   Ö
				// |       |     |     |     |     |     |     |     |     |     |     |  '  |    INSERT
				// |           |     |     |     |     |     |     |     |     |     |  ß  |    UP   | LAY2
				// |BT_CLR| BT_PRV| BT_NXT|                                |      | LEFT |  DOWN    |  RIGHT
				// ------------------------------------------------------------------------------------------
			bindings = <

				&kp GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12              &kp PSCRN
				&none  &none  &none  &eurosign  &none  &none  &none  &none  &none &none  &none  &ae_shift &ue_shift &oe_shift
				&none   &none  &none  &none     &none  &none  &none  &none  &none  &none  &none &quot_apos           &kp INS
				&trans    &none  &none  &none     &none  &none  &none  &none  &none  &none  &eszett           &kp UP     &mo 2
				&bt BT_CLR   &bt BT_PRV &bt BT_NXT            &none                                &none  &kp LEFT  &kp DOWN  &kp RIGHT
			
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
		laytwo {
				// ------------------------------------------------------------------------------------------
				// |     | NLK | PMN | PLS | AST | SLS |     |     |     |     |     |     |     |       
				// |      |  P7 | P8  |  P9 |CMM |    |     |     |     |     |     |      |     |    
				// |       |  P4 |  P5 | P6  | EQL |     |     |     |     |     |     |     |  bootloader  
				// |           | P1  | P2  |  P3 | DOT |     |     |     |     |     |     |         |     
				// |       |       |  P0   |                                |      |      |          |       
				// ------------------------------------------------------------------------------------------
				// NLK      - NUMLOCK
				// PMN      - Numpad minus
				// PLS      - Numpad plus
				// AST      - Numpad *
				// SLS      - Numpad /
				// DOT      - Numpad .
				// EQL      - Numpad =
				// CMM      - Numpad ,
				// P0-P9    - Numpad 0-9
				// -------------------------

			bindings = <
				&none &kp KP_NLCK &kp KP_MINUS &kp KP_PLUS &kp KP_ASTERISK &kp KP_DIVIDE &none &none &none &none &none &none &none   &none
				&none  &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_COMMA &none &none &none &none &none &none &none &none  &none
				&none   &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_EQUAL &none &none &none &none &none &none &none   &bootloader
				&none    &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_DOT &none &none &none &none &none &none     &none   &none
				&none &none &kp KP_N0              &none                             &none  &none  &none  &none
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
